*{
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
}

body{
  background: rgb(207, 207, 207);
}

span{
  margin-top: 25px;
}

.formulario{
  width: 90vw;
  height: 90vh;
  margin: 2% auto;
}

.formulario-cabecalho{
  background: rgb(255, 123, 0);
  padding: 20px;
  color: white;
  font-weight: bold;
  border-radius: 15px 15px 0 0;
}

.formulario{
  background: white;
  border-radius: 20px;
}
.form{
  margin: 10px 100px;
}

input{
  padding: 10px;
  margin: 15px 0;
  border-radius: 10px;
  border:none;
  background: rgb(235, 231, 231);
  font-size: 15px;
}


/*Inicio nome*/
.nome{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-primeiro-nome{
  width: 465px;
  display: flex;
  flex-direction: column;
}
.form-sobrenome{
  width: 465px ;
  display: flex;
  flex-direction: column;
}

/*inicio contato*/

.form input[type="email"],
.form input[type="tel"]{
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

/*Inicio endereço*/

.endereco{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-cidade{
  width: 465px;
  display: flex;
  flex-direction: column;

}

.form-estado{
  width: 465px;
  display: flex;
  flex-direction: column;
}

.final{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.final .senha{
  width: 465px;
  display: flex;
  flex-direction: column;
}

.final .botao{
    width: 465px; 
}

.botao .salvar{
  background: white;
  border:1px solid rgb(255, 123, 0);
  color: rgb(255, 123, 0);
  border-radius: 10px;
  padding: 10px 45px;
  font-weight: bold;
}

.botao .continuar{
  background: rgb(255, 123, 0);
  color: white;
  border-radius: 10px;
  padding: 10px 30px;
  font-weight: bold;
}

@media screen and (max-width: 990px) {

  .conteudo-direita{
    width: 50%;
  }
  .conteudo-direita-padrao{
    width: 100%;
  }
  .conteudo-direita-padrao div{
    width: 100%;
  }


}
