*{
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
}

body{
  margin-top: 25px;
  background: #b8b8b8;
}

.formulario{
  width: 90%;
  height: 100%;
  margin: 4% auto;
}

.formulario-cabecalho{
  background: rgb(255, 123, 0);
  padding: 20px;
  color: white;
  font-weight: bold;
  border-radius: 15px 15px 0 0;
}

.formulario{
  background: white;
  border-radius: 20px;
}
.form{
  margin: 10px 100px;
}

input{
  padding: 10px;
  margin: 15px 0;
  border-radius: 10px;
  border:none;
  background: rgb(235, 231, 231);
  font-size: 15px;
}


/*Inicio nome*/
.nome{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-primeiro-nome{
  width: 45%;
  display: flex;
  flex-direction: column;
}
.form-sobrenome{
  width: 45% ;
  display: flex;
  flex-direction: column;
}

/*inicio contato*/

.form input[type="email"],
.form input[type="tel"]{
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

/*Inicio endereço*/

.endereco{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-cidade{
  width: 45%;
  display: flex;
  flex-direction: column;

}

.form-estado{
  width: 45%;
  display: flex;
  flex-direction: column;
}

.final{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.final .senha{
  width: 45%;
  display: flex;
  flex-direction: column;
}

.final .botao{
  width: 45%;   
}

.botao .salvar{
  background: white;
  border:1px solid rgb(255, 123, 0);
  color: rgb(255, 123, 0);
  border-radius: 10px;
  padding: 10px 45px;
  font-weight: bold;
}

.botao .continuar{
  background: rgb(255, 123, 0);
  color: white;
  justify-content: center;  
  border-radius: 10px;
  border: none;
  padding: 10px 30px;
  font-weight: bold;
}

@media screen and (max-width: 791px) {

  .form .nome div{
    width: 100%;
  }
  .form .endereco div{
    width: 100%;
  }
  .form .final div{
    width: 100%;
  }
  .form .botao{
    display: flex;
    justify-content: space-around;
  }


}
